/*
   Align image to the right
   ========================================================================== */

.image-right {
  display: block;
  float: right;
  margin-top: 12px;
  margin-right: auto;
  margin-left: 12px;
  margin-bottom: 12px;
}

/*
   and left
   ========================================================================== */

.image-left {
  display: block;
  float: left;
  margin-top: 12px;
  margin-right: 12px;
  margin-left: auto;
  margin-bottom: 12px;
}

